In [723]:
import pandas as pd
import numpy as np
import re

%matplotlib inline

In [724]:
# OBJETIVE
    ### Calculate the average hours per day in 2014 that people spent in primary activities

In [725]:
activities = pd.read_csv('atusact_2014.dat', usecols=[0, 26, 13])

In [726]:
activities = activities.sort_values(by=['TUCASEID'], ascending=True)

In [727]:
ac = dict(zip(range(len(list(activities))), list(activities)))

In [728]:
activities.head()

         TUCASEID  TUACTDUR24  TRCODE
0  20140101140007         540   10101
9  20140101140007         605   10101
7  20140101140007          25  181301
6  20140101140007          90  130116
5  20140101140007          20  181301

# Filtering the activity

In [729]:
activities = activities[(activities.TRCODE >= 30000) & (activities.TRCODE < 40000)]

In [730]:
activities

              TUCASEID  TUACTDUR24  TRCODE
1       20140101140007          30   30101
34      20140101140028         180   30109
59      20140101140168          90   30201
63      20140101140168          40   30101
48      20140101140168          45   30101
86      20140101140610          60   30101
207     20140101140702          20   30101
205     20140101140702          55   30101
199     20140101140702          15   30112
195     20140101140702          30   30101
235     20140101140725           3   30101
238     20140101140725          20   30103
241     20140101140725          15   30101
245     20140101140725           5   30102
214     20140101140725           3   30101
215     20140101140725           5   30101
216     20140101140725          10   30101
220     20140101140725           2   30101
301     20140101140804          60   30110
307     20140101140804          55   30109
299     20140101140804           5   30112
290     20140101140804           5   30112
376     20140101140872          30   30106
374     20140101140872          90   30109
372     20140101140872          60   30201
497     20140101140958          10   30112
500     20140101140958          30   30101
503     20140101140958          30   30101
504     20140101140958          95   30103
505     20140101140958          30   30101
...                ...         ...     ...
222258  20141212141819          30   30101
222259  20141212141819          30   30101
222261  20141212141819          90   30101
222268  20141212141819          30   30101
222265  20141212141819          60   30101
222255  20141212141819          60   30103
222240  20141212141819          30   30101
222571  20141212142053          30   30101
222622  20141212142116          30   30599
222636  20141212142124          10   30106
222771  20141212142172          15   30101
222743  20141212142172          15   30108
222750  20141212142172          15   30109
222870  20141212142236          30   30101
222895  20141212142238          60   30303
222879  20141212142238           1   30112
222885  20141212142238          10   30112
223003  20141212142361           5   30112
223000  20141212142361          20   30101
222995  20141212142361          30   30109
223049  20141212142400          15   30403
223126  20141212142462           7   30112
223135  20141212142462          30   30101
223106  20141212142462           1   30503
223109  20141212142462           5   30112
223198  20141212142480          30   30111
223196  20141212142480          60   30109
223199  20141212142480          90   30110
223245  20141212142500          30   30101
223241  20141212142500          60   30103

[11807 rows x 3 columns]

In [731]:
activities = activities.set_index(['TUCASEID', 'TRCODE'])

In [732]:
activities = activities.reset_index(1)

# SUMARIZING

In [733]:
activities = pd.DataFrame(activities, columns=['TUACTDUR24'])

In [734]:
activities = activities.groupby(level='TUCASEID').sum()

In [735]:
activities = activities.reset_index(0)

In [751]:
activities.head()

         TUCASEID  TUACTDUR24
0  20140101140007          30
1  20140101140028         180
2  20140101140168         175
3  20140101140610          60
4  20140101140702         120

## GETTING THE RESPONDENT DATA SET READY FOR MERGE WEIGHTED VALUES

In [737]:
respondent = pd.read_csv('atusresp_2014.dat', usecols=[0, 105])

In [738]:
ac = dict(zip(range(len(list(respondent))), list(respondent)))

In [739]:
respondent

             TUCASEID     TUFINLWGT
0      20140101140007  4.891316e+06
1      20140101140011  2.314737e+07
2      20140101140028  2.094182e+07
3      20140101140063  2.505899e+06
4      20140101140168  1.592823e+07
5      20140101140537  3.622351e+06
6      20140101140559  3.653338e+06
7      20140101140610  1.158960e+07
8      20140101140614  2.019096e+06
9      20140101140639  5.332005e+06
10     20140101140665  4.778596e+06
11     20140101140685  7.015085e+06
12     20140101140702  6.323639e+06
13     20140101140725  7.339555e+06
14     20140101140759  1.956417e+07
15     20140101140792  1.711067e+07
16     20140101140804  6.209018e+06
17     20140101140836  2.068192e+06
18     20140101140852  2.182117e+06
19     20140101140854  4.731635e+06
20     20140101140872  8.369759e+06
21     20140101140875  1.146317e+07
22     20140101140876  4.376666e+06
23     20140101140885  4.659170e+06
24     20140101140911  1.041563e+07
25     20140101140940  3.624692e+06
26     20140101140958  9.199818e+06
27     20140101140967  3.840513e+06
28     20140101140973  1.268469e+07
29     20140101140990  5.305349e+06
...               ...           ...
11562  20141212142154  5.410086e+06
11563  20141212142164  1.470725e+07
11564  20141212142168  3.768521e+06
11565  20141212142172  2.305855e+06
11566  20141212142199  1.480976e+07
11567  20141212142201  1.610977e+07
11568  20141212142204  9.854368e+06
11569  20141212142215  2.846379e+07
11570  20141212142236  3.627508e+06
11571  20141212142238  1.005365e+07
11572  20141212142263  1.580563e+06
11573  20141212142273  4.062958e+06
11574  20141212142288  8.890238e+06
11575  20141212142311  5.993184e+06
11576  20141212142318  1.082345e+07
11577  20141212142361  1.418187e+06
11578  20141212142393  2.837917e+07
11579  20141212142397  1.240684e+07
11580  20141212142398  3.852891e+07
11581  20141212142400  9.217118e+06
11582  20141212142422  1.552300e+07
11583  20141212142441  5.664041e+06
11584  20141212142461  2.000632e+06
11585  20141212142462  8.271422e+06
11586  20141212142470  1.597584e+06
11587  20141212142472  1.030716e+07
11588  20141212142476  1.238568e+07
11589  20141212142480  7.601986e+06
11590  20141212142484  1.099988e+07
11591  20141212142500  2.319771e+06

[11592 rows x 2 columns]

# MERGIN

In [740]:
act_rep = pd.merge(activities, respondent)

In [741]:
act_rep = pd.DataFrame(act_rep, columns=['TUCASEID','TUFINLWGT', 'TUACTDUR24'])

## CREATING A NEW COLUMN WIHT A NEW VALUE OF THE AVERAGE FORMULA

In [760]:
act_rep['wtd_time'] = act_rep['TUFINLWGT'] * act_rep['TUACTDUR24']

In [761]:
act_rep.head()

         TUCASEID     TUFINLWGT  TUACTDUR24      wtd_time
0  20140101140007  4.891316e+06          30  1.467395e+08
1  20140101140028  2.094182e+07         180  3.769528e+09
2  20140101140168  1.592823e+07         175  2.787441e+09
3  20140101140610  1.158960e+07          60  6.953763e+08
4  20140101140702  6.323639e+06         120  7.588367e+08

In [755]:
deno = act_rep.TUFINLWGT.sum(axis=0)

In [756]:
deno

23598118464.205288

In [757]:
num = act_rep.wtd_time.sum(axis=0)

In [758]:
num

2509243920340.5835

In [759]:
ave =  num / deno

In [753]:
ave

106.33237239429576